.baladin_rouge{
    color: red;
}
.bala_bleu_claire{
    color: aqua;
}
.baladin_noir{
    color: black;
}
.dain_bleu_claire{
    color: blueviolet;
}
.baladin_bleu{
    color: blue;
}
.baladin_ok{
    color: aqua;
}
.baladin_vert{
    color: green;
